<!-- Earnings (Monthly) Card Example -->
<div class="mb-4"></div>
    <div class="row justify-content-center row-cols-1 row-cols-md-5 g-4">
        <div class="col">
            <div class="card h-100">
                <a href= <%= pets_path %>> 
                    <img src="https://ronypetsproducts.s3.amazonaws.com/pets_card.jpg" class="card-img-top" alt="Hollywood Sign on The Hill">
                    <div class="card-body">
                        <h5 class="card-title text-black">Tus Mascotas</h5>
                        <p class="card-text text-black">
                            Aqui podras crear y administrar la informacion sobre tu o tus mascotas.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href= <%= programs_path %>>
                    <img src="https://ronypetsproducts.s3.amazonaws.com/logo_card.jpg" class="card-img-top" alt="Palm Springs Road"/>
                    <div class="card-body">
                        <h5 class="card-title text-black">Rony Pets Food Planner</h5>
                        <p class="card-text text-black">
                            Escoge el plan personalizado que tenemos para ti y consiente mas a tu mascota.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href= <%= clients_path %>>
                    <img src="https://ronypetsproducts.s3.amazonaws.com/plan_card.jpg" class="card-img-top align-center" alt="Tu plan"/>
                    <div class="card-body">
                        <h5 class="card-title text-black">Tu Plan</h5>
                        <p class="card-text text-black">
                            Revisa el estado actual de tu plan, modificalo, cuentanos tu experiencia y mas.
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <a href= <%= clients_path %>>
                    <img src="https://ronypetsproducts.s3.amazonaws.com/tienda.jpg" class="card-img-top" alt="Los Angeles Skyscrapers"/>
                    <div class="card-body">
                        <h5 class="card-title text-black">Realiza Pedidos a la Tienda</h5>
                        <p class="card-text text-black">
                            Contactate con la tienda y pide.
                        </p>
                    </div>
                </a>
            </div>
        </div>
</div>